
1. Open the notebook created for Lab-cleaning-numerical-data.

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values and decide what to do with them, do it now.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions and do it now.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

10.  Save the cleaned catagorical dataframe as categorical.csv   You will use this file again this week.

In [94]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier

# 1. Open the notebook created for Lab-cleaning-numerical-data.

In [95]:

df = pd.read_csv('customer_df_file.csv')
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
1,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
2,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
3,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
4,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,2011-01-25,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,YM19146,California,4100.398533,No,Premium,College,2011-01-06,Employed,F,47761,...,58,0,1,Personal Auto,Personal L2,Offer1,Branch,541.282007,Four-Door Car,Large
8188,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
8189,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
8190,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
8191,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

# 2. Find  all of the categorical data.  Save it in a categorical_df variable.

In [96]:
categorical_df =df.select_dtypes(include='object').drop(['effective_to_date'], axis=1) #effective_to_date didn't want to drop, we cannot understand why

In [97]:
categorical_df

,customer,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
1,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
2,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
3,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
4,OC83172,Oregon,Yes,Basic,Bachelor,Employed,F,Rural,Married,Personal Auto,Personal L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,YM19146,California,No,Premium,College,Employed,F,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Large
8188,LA72316,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
8189,PK87824,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
8190,TD14365,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
8191,Y167826,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

# 3. Check for NaN values and decide what to do with them, do it now.

In [98]:
categorical_df.isnull().sum()

customer             0
state                0
response             0
coverage             0
education            0
employment_status    0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

# 4. Check all unique values of columns.

In [99]:
categorical_df.nunique()

customer             8192
state                   5
response                2
coverage                3
education               5
employment_status       5
gender                  2
location_code           3
marital_status          3
policy_type             3
policy                  9
renew_offer_type        4
sales_channel           4
vehicle_class           6
vehicle_size            3
dtype: int64

In [100]:
for col in categorical_df.columns:
    unique_values = categorical_df[col].unique()
    print(f"Unique values in column '{col}':")
    print(unique_values)
    print()

Unique values in column 'customer':
['QZ44356' 'AI49188' 'WW63253' ... 'PK87824' 'TD14365' 'Y167826']

Unique values in column 'state':
['Arizona' 'Nevada' 'California' 'Washington' 'Oregon']

Unique values in column 'response':
['No' 'Yes']

Unique values in column 'coverage':
['Extended' 'Premium' 'Basic']

Unique values in column 'education':
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']

Unique values in column 'employment_status':
['Unemployed' 'Employed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in column 'gender':
['F' 'M']

Unique values in column 'location_code':
['Suburban' 'Rural' 'Urban']

Unique values in column 'marital_status':
['Single' 'Married' 'Divorced']

Unique values in column 'policy_type':
['Personal Auto' 'Corporate Auto' 'Special Auto']

Unique values in column 'policy':
['Personal L3' 'Corporate L2' 'Personal L1' 'Corporate L3' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']

Unique values in column 'renew_offer_type':
['Offer3' 'Offer1' 'Offer2' 'Offer4']

Unique values in column 'sales_channel':
['Agent' 'Call Center' 'Web' 'Branch']

Unique values in column 'vehicle_class':
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']

Unique values in column 'vehicle_size':
['Medsize' 'Small' 'Large']

# 5. Check dtypes. Do they all make sense as categorical data?

All of them are objects, therefore they make sense

In [101]:
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

# 6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

In [102]:
import re

In [103]:
def contains_alpha_numeric(s):
    return bool(re.search(r'[a-zA-Z]', str(s))) and bool(re.search(r'[0-9]', str(s)))

alpha_numeric_columns = categorical_df.applymap(contains_alpha_numeric).any()

In [104]:
alpha_numeric_columns

customer              True
state                False
response             False
coverage             False
education            False
employment_status    False
gender               False
location_code        False
marital_status       False
policy_type          False
policy                True
renew_offer_type      True
sales_channel        False
vehicle_class        False
vehicle_size         False
dtype: bool

Customer --> quit

In [105]:
categorical_df = categorical_df.drop("customer", axis=1)

In [106]:
categorical_df

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
1,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
2,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
3,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
4,Oregon,Yes,Basic,Bachelor,Employed,F,Rural,Married,Personal Auto,Personal L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,California,No,Premium,College,Employed,F,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Large
8188,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
8189,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
8190,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
8191,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

Policy --> keep only the L1,L2,L3 values (we have the policy information in policy_type)

In [107]:
categorical_df['policy'] = categorical_df['policy'].str.extract('(L[1-3])')
categorical_df

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,L3,Offer3,Agent,Four-Door Car,Medsize
1,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,L3,Offer1,Agent,Two-Door Car,Medsize
2,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,L2,Offer1,Call Center,SUV,Medsize
3,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,L1,Offer1,Agent,Four-Door Car,Medsize
4,Oregon,Yes,Basic,Bachelor,Employed,F,Rural,Married,Personal Auto,L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,California,No,Premium,College,Employed,F,Suburban,Single,Personal Auto,L2,Offer1,Branch,Four-Door Car,Large
8188,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,L1,Offer2,Web,Four-Door Car,Medsize
8189,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,L3,Offer1,Branch,Four-Door Car,Medsize
8190,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,L2,Offer1,Branch,Four-Door Car,Medsize
8191,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,L3,Offer4,Call Center,Two-Door Car,Medsize

renew_offer_type --> keep only the number

In [108]:
categorical_df['renew_offer_type'] = categorical_df['renew_offer_type'].str.replace('[^0-9]', '')
categorical_df

/var/folders/dm/hhj01rls7tz3g5v4m3hhj1bw0000gn/T/ipykernel_56853/1332065163.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  categorical_df['renew_offer_type'] = categorical_df['renew_offer_type'].str.replace('[^0-9]', '')

,state,response,coverage,education,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,L3,3,Agent,Four-Door Car,Medsize
1,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,L3,1,Agent,Two-Door Car,Medsize
2,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,L2,1,Call Center,SUV,Medsize
3,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,L1,1,Agent,Four-Door Car,Medsize
4,Oregon,Yes,Basic,Bachelor,Employed,F,Rural,Married,Personal Auto,L3,2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,California,No,Premium,College,Employed,F,Suburban,Single,Personal Auto,L2,1,Branch,Four-Door Car,Large
8188,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,L1,2,Web,Four-Door Car,Medsize
8189,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,L3,1,Branch,Four-Door Car,Medsize
8190,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,L2,1,Branch,Four-Door Car,Medsize
8191,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,L3,4,Call Center,Two-Door Car,Medsize

# 7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions and do it now.

Already done

# 8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?

Before we dropped the name inside policy, as we can get that information from policy type. We keep them both at it's more efficient to encode policy_type and policy (2 + 2 columns) than puttin them all together (8 columns encoded)

# 9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

In [109]:
unique_values_counts = {}


for column in categorical_df.columns:
    unique_values = categorical_df[column].unique()
    value_counts = categorical_df[column].value_counts().to_dict()
    
    unique_values_counts[column] = {'unique_values': unique_values, 'value_counts': value_counts}

for column, info in unique_values_counts.items():
    print(f"Column: {column}")
    print("Unique Values:", info['unique_values'])
    print("Value Counts:", info['value_counts'])

Column: state
Unique Values: ['Arizona' 'Nevada' 'California' 'Washington' 'Oregon']
Value Counts: {'California': 2835, 'Oregon': 2369, 'Arizona': 1497, 'Nevada': 779, 'Washington': 712}
Column: response
Unique Values: ['No' 'Yes']
Value Counts: {'No': 6998, 'Yes': 1194}
Column: coverage
Unique Values: ['Extended' 'Premium' 'Basic']
Value Counts: {'Basic': 5013, 'Extended': 2465, 'Premium': 714}
Column: education
Unique Values: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Value Counts: {'Bachelor': 2468, 'College': 2407, 'High School or Below': 2339, 'Master': 677, 'Doctor': 301}
Column: employment_status
Unique Values: ['Unemployed' 'Employed' 'Medical Leave' 'Disabled' 'Retired']
Value Counts: {'Employed': 5105, 'Unemployed': 2075, 'Medical Leave': 391, 'Disabled': 360, 'Retired': 261}
Column: gender
Unique Values: ['F' 'M']
Value Counts: {'F': 4198, 'M': 3994}
Column: location_code
Unique Values: ['Suburban' 'Rural' 'Urban']
Value Counts: {'Suburban': 5194, 'Rural': 1578, 'Urban': 1420}
Column: marital_status
Unique Values: ['Single' 'Married' 'Divorced']
Value Counts: {'Married': 4741, 'Single': 2222, 'Divorced': 1229}
Column: policy_type
Unique Values: ['Personal Auto' 'Corporate Auto' 'Special Auto']
Value Counts: {'Personal Auto': 6098, 'Corporate Auto': 1749, 'Special Auto': 345}
Column: policy
Unique Values: ['L3' 'L2' 'L1']
Value Counts: {'L3': 4120, 'L2': 2583, 'L1': 1489}
Column: renew_offer_type
Unique Values: ['3' '1' '2' '4']
Value Counts: {'1': 3316, '2': 2666, '3': 1283, '4': 927}
Column: sales_channel
Unique Values: ['Agent' 'Call Center' 'Web' 'Branch']
Value Counts: {'Agent': 3164, 'Branch': 2294, 'Call Center': 1558, 'Web': 1176}
Column: vehicle_class
Unique Values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
Value Counts: {'Four-Door Car': 4175, 'Two-Door Car': 1662, 'SUV': 1612, 'Sports Car': 430, 'Luxury SUV': 160, 'Luxury Car': 153}
Column: vehicle_size
Unique Values: ['Medsize' 'Small' 'Large']
Value Counts: {'Medsize': 5742, 'Small': 1594, 'Large': 856}

1. Education: unify above master and doctor in "Master or above"

In [110]:
values_to_unify = ['Master', 'Doctor']
unified_value = 'Master or above'
categorical_df['education'] = np.where(categorical_df['education'].isin(values_to_unify), unified_value, categorical_df['education'])
categorical_df["education"].unique()

array(['Bachelor', 'College', 'Master or above', 'High School or Below'],
      dtype=object)

2. vehicle_class: unify luxury

In [111]:
categorical_df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

In [112]:
values_to_unify = ['Luxury SUV', 'Luxury Car']
unified_value = 'Luxury Car/SUV'
categorical_df["vehicle_class"] = np.where(categorical_df["vehicle_class"].isin(values_to_unify), unified_value, categorical_df["vehicle_class"])
categorical_df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury Car/SUV',
       'Sports Car'], dtype=object)

# 10.  Save the cleaned catagorical dataframe as categorical.csv   You will use this file again this week.

In [114]:
categorical_df.to_csv("categorical.csv", index=False)